
@media screen and (max-width: 1000px) {
  .logo-text {
    font-size: 5vw;
  }

  .form {
    width: 80%;
    padding: 5% 5%;
  }

  .cards-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    width: 46%;
  }
}

@media screen and (max-width: 700px) {
  .header {
    flex-direction: column;
    padding: 0 5%;
  }

  .logo-text {
    font-size: 9vw;
    letter-spacing: 4px;
    margin: 4vh 0vw;
  }

  .search {
    margin: 0;
    overflow: hidden;
    width: 100%;
  }

  .form {
    padding: 10% 5%;
  }

  .cards-container {
    flex-direction: column;
    align-content: center;
  }

  .card {
    width: 100%;
  }

  .btn {
    padding: 1em 10px;
  }
}