.cards-container {
  background: #C2B2B4;
  display: flex;
  flex-wrap: wrap;
  padding: 1% 5%;
  height: 100%;
}

.card {
  background: white;
  border: 2px solid #938284;
  margin: 2% 2%;
  width: 21%;
}

.title, .caption {
  color: #3E2A35;
  font-size: 20px;
  font-weight: 600;
  margin: 1em;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.title {
  height: 25px;
}

.caption {
  height: 100px;
}

.card figure {
  margin: 0;
}

.card img {
  height: 162px;
  width: 100%;
}

.card footer {
  background: #5B4447;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.card footer img {
  cursor: pointer;
  height: 40px;
  margin: 1em 0;
  width: 40px;
}

footer {
  background-color: #C2B2B4;
}

.no-photo-indication {
  margin: 0;
  text-align: center;
  font-size: 30px;
  color: white;
  padding: 1em 5em 5em;
}

.hide {
  display: none;
}