.header {
  align-items: center;
  background: #3E2A35;
  display: flex;
  justify-content: space-between;
  padding: 0px 3%;
}

.logo-text {
  color: white;
  display: flex;
  font-size: 46px;
  font-weight: 800;
  letter-spacing: 5px;
  margin: .75em;
  text-transform: uppercase;
}

.logo {
  align-self: flex-start;
  height: 1em;
  margin: 0 5px;
}

.search {
  background: #938284;
  border-radius: 5px;
  border: 2px solid #938284;
  margin: 1em;
  overflow: hidden;
  position: relative;
  width: 35%;
}

.search input {
  border: 0;
  font-size: 20px;
  padding: 0.5em 10px;
  width: 100%;
}

.search .fa-search {
  background: #938284;
  box-sizing: content-box;
  color: white;
  cursor: pointer;
  font-size: 25px;
  height: 75px;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}